<%- include('./partials/header') %>

<div
  class="container-fluid justify-content-center d-flex flex-column align-items-center bd-highlight"
>
  <h4 class="mb-4">Update Event</h4>
  <form action="/event/<%= event.id %>/edit?_method=PUT" method="POST">
    <!-- Event Name  -->
    <div class="mb-3">
      <input
        type="text"
        name="event_name"
        id="event_name"
        placeholder="Event Name *"
        class="form-control"
        value="<%= event.name %>"
        required
      />
    </div>
    <!-- Start Date & Time  -->
    <div class="mb-3">
      <label for="start_date&time">Start Date and Time *</label>
      <div>
        <input
          type="date"
          name="start_date"
          id="start_date"
          value="<%= event.start_date %>"
          placeholder="Start Date"
        />
        <input
          type="time"
          name="start_time"
          id="start_time"
          placeholder="Start Time"
          value="<%= event.start_time %>"
          required
        />
      </div>
    </div>
    <!-- End Date & Time  -->
    <div class="mb-3">
      <label for="end_date&time">End Date and Time</label>
      <div>
        <input
          type="date"
          name="end_date"
          id="end_date"
          placeholder="End Date"
          value="<%= event.end_date %>"
        />
        <input
          type="time"
          name="end_time"
          id="end_time"
          placeholder="End Time"
          value="<%= event.end_time %>"
        />
      </div>
    </div>
    <!-- Event types -->
    <div class="mb-3">
      <div
        class="container-fluid d-flex flex-row justify-content-evenly align-items-center"
      >
        <div class="eventType">
          <input
            type="radio"
            class="live"
            name="live"
            value="1"
            onclick="toggle_location()"
          />
          <label for="live">In Person</label>
        </div>
        <div class="eventType">
          <input
            type="radio"
            class="live"
            name="live"
            value="0"
            onclick="toggle_location()"
          />
          <label for="live">Online</label>
        </div>
      </div>
      <div
        class="container-fluid d-flex flex-row justify-content-evenly align-items-center"
      >
        <div class="eventType">
          <input type="radio" class="public" name="public" value="0" />
          <label for="public">Private</label>
        </div>
        <div class="eventType">
          <input type="radio" class="public" name="public" value="1" />
          <label for="public">Public</label>
        </div>
      </div>
    </div>
    <!-- External Event Link  -->
    <div class="mb-3">
      <input
        type="url"
        name="event_link"
        id="event_link"
        placeholder="External Event Link: https://example.com"
        pattern="https://.*"
        size="30"
        class="form-control"
        value="<%= event.event_link %>"
      />
    </div>
    <!-- Location  -->
    <div class="mb-3" id="location">
      <input
        type="text"
        name="event_location"
        id="searchInput"
        class="form-control"
        value="<%= event.event_location %>"
      />
      <input
        id="address"
        name="address"
        value=""
        type="hidden"
        placeholder=""
        class="form-control"
      />
    </div>
    <!-- Description  -->
    <div class="mb-3">
      <textarea
        class="form-control"
        id="description"
        placeholder="description"
        name="description"
        style="height: 100px"
      >
<%= event.description %>
      </textarea>
    </div>
    <div class="mb-3 d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8S8x0yhOf9F_j12maO92LCZqq6MgxTs4&libraries=places&callback=initMap"
></script>

<script>
  // Autocomplete location
  function initMap() {
    var input = document.getElementById("searchInput");
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener("place_changed", function () {
      var place = autocomplete.getPlace();
      document.getElementById("address").value = JSON.stringify(
        place.address_components
      );
    });
  }

  // Input start Date, set today as default date
  const inputStartDate = document.getElementById("start_date");
  inputStartDate.min = new Date().toISOString().split("T")[0];
  inputStartDate.valueAsDate = new Date();
  const inputEndDate = document.getElementById("end_date");
  inputEndDate.valueAsDate = new Date();

  // Show/Hide location div
  const locationDiv = document.getElementById("location");
  const public = document.querySelectorAll(".public");
  public[0].checked = "true";
  const live = document.querySelectorAll(".live");
  live[0].checked = "true";
  const toggle_location = () => {
    if (live[1].checked) {
      locationDiv.style.display = "none";
    } else {
      locationDiv.style.display = "block";
    }
  };
</script>

<%- include('./partials/eventsFooter') %>
