<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div
  class="container-fluid d-flex flex-column overflow-auto h-100 justify-content-start my-5"
>
  <div
    class="container-fluid d-flex flex-column overflow-auto h-100 justify-content-start my-0 py-0 mb-3"
  >
    <div class="card text-body my-1 bg-light bg-gradient">
      <div class="card-body overflow-auto">
        <div class="card-title d-flex justify-content-center my-0">
          <h5 class="my-0"><%= event.name %></h5>
        </div>
        <hr />
        <!-- Event details  -->
        <div class="card-content">
          <p class="card-text my-1">
            <i class="bi bi-calendar-check"></i> <%= event.start_time %> <%=
            event.start_date.toLocaleDateString('el-GR') %>
          </p>
          <p class="card-text my-1">
            <i class="bi bi-calendar2-x"></i> <%= event.start_time %> <%=
            event.end_date.toLocaleDateString('el-GR') %>
          </p>
          <p class="card-text my-1">
            <i class="bi bi-geo-alt"></i><b> <%= event.event_location %></b>
          </p>
          <% if(event.event_link){ %>
          <p class="card-text my-1">
            <i class="bi bi-link"></i>
            <a href="<%= event.event_link %>"><%= event.event_link %></a>
          </p>
          <% } %>
          <hr />
          <p class="card-text my-1"><b>Description</b></p>
          <p><%= event.description %></p>
          <!-- Display Map  -->
          <div id="map"></div>
          <!-- Only event owner can edit or delete event  -->
          <% if(currentUser.id === event.owner_id) { %>
          <div class="d-flex flex-row justify-content-center">
            <form
              action="/event/<%= event.id %>/edit"
              class="border-0 py-0 my-0"
            >
              <input
                type="submit"
                value="Edit"
                class="btn btn-success btn-sm mx-5"
                style="width: 60px"
              />
            </form>
            <form
              action="/event/<%= event.id %>?_method=DELETE"
              method="POST"
              class="border-0 py-0 my-0"
            >
              <input
                type="submit"
                value="Delete"
                class="btn btn-warning btn-sm mx-5"
                style="width: 60px"
              />
            </form>
          </div>
          <% } else { %>
          <!-- users can choose to join or ignore  -->
          <div class="d-flex flex-row">
            <form
              action="/event/<%= event.id %>/join"
              method="POST"
              class="border-0 py-0 my-0 text-center"
            >
              <button
                type="submit"
                name="isJoin"
                value="1"
                class="btn btn-success btn-sm mx-5"
                style="width: 60px"
              >
                Join
              </button>
              <button
                type="submit"
                name="isJoin"
                value="0"
                class="btn btn-warning btn-sm mx-5"
                style="width: 60px"
              >
                Pass
              </button>
            </form>
          </div>
          <% } %>
          <!-- comments  -->
          <div
            id="showCommentsBtn"
            class="btn btn-info btn-sm bg-light text-center w-100 mt-3 mb-2"
            onclick="toggleShowComments()"
          >
            Show Comments
          </div>
          <div id="commentsDiv">
            <!-- <p><%= comments.length %> Comments:</p> -->
            <% comments.forEach(c => { %>
            <span><%= c.first_name %>: <%= c.comment %></span>
            <br />
            <span><%= c.created_at %></span>
            <hr />
            <% }) %>
          </div>
          <!-- Comments and Likes Button  -->
          <div class="container-fluid d-flex flex-row justify-content-center">
            <!-- Button trigger modal to add comment-->
            <div
              class="d-flex flex-row justify-content-center align-items-center mx-4 px-1"
            >
              <p class="my-0 py-0 text-center"><%= comments.length %></p>
              <button
                type="button"
                class="btn border-0 py-0 my-0 px-0 mx-1"
                id="commentBtn"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Comments
              </button>
              <i class="fa-solid fa-comment"></i>
            </div>

            <form
              action="/event/<%= event.id %>/likes"
              method="POST"
              class="border-0 py-0 my-0 text-center"
            >
              <button class="btn border-0 like" id="likeBtn">
                <%= likes.length %> Likes <i class="fa-solid fa-thumbs-up"></i>
              </button>
            </form>
          </div>
          <!-- Modal  -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Add Comment
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    action="/event/<%= event.id %>/comments"
                    method="POST"
                    class="border-0 py-0 my-0"
                  >
                    <textarea
                      name="comment"
                      id="comment"
                      class="form-control"
                    ></textarea>
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal  -->
        </div>
      </div>
    </div>
    <!-- Event owner  -->
    <div class="card card text-body my-1 bg-light bg-gradient text-center">
      <div class="card-body overflow-auto">
        <p class="card-text my-1">
          Hosting
          <br />
          <img
            src="/<%= owner.avatar %>"
            alt=""
            style="width: 50px; height: auto; border-radius: 25px"
          />
        </p>
        <hr />
        <!-- Who will join the event  -->
        <p>Attendees</p>
        <% user_avatars.forEach(user_avatar => { %>
        <img
          src="/<%= user_avatar.avatar %>"
          alt=""
          style="width: 50px; height: auto; border-radius: 25px"
        />
        <% }) %>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>

<script>
  // Show or Hide comments
  const showCommentsBtn = document.getElementById("showCommentsBtn");
  const commentsDiv = document.getElementById("commentsDiv");
  const toggleShowComments = () => {
    console.log(commentsDiv.style.display);
    if (
      commentsDiv.style.display === "none" ||
      commentsDiv.style.display === ""
    ) {
      commentsDiv.style.display = "block";
      showCommentsBtn.innerText = "Hide Comments";
    } else {
      commentsDiv.style.display = "none";
      showCommentsBtn.innerText = "Show Comments";
    }
  };

  // Mapbox API
  const lon = JSON.parse("<%= geoLon %>");
  const lat = JSON.parse("<%= geoLat %>");
  mapboxgl.accessToken = "<%= MAPBOX_KEY %>";
  const map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [lon, lat],
    zoom: 13,
  });

  // Add the control to the map.
  map.addControl(
    new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
    })
  );

  map.addControl(new mapboxgl.NavigationControl());
  const marker = new mapboxgl.Marker().setLngLat([lon, lat]).addTo(map);
</script>
