<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div
  class="container-fluid d-flex flex-column overflow-auto h-100 justify-content-start my-5 pb-4"
>
  <div
    class="container-fluid d-flex flex-column overflow-auto h-100 justify-content-start my-0 py-0 pb-5 mb-4"
  >
    <div class="card text-body my-1 bg-light bg-gradient">
      <div class="card-body overflow-auto">
        <div class="card-title d-flex justify-content-center my-0">
          <h5 class="my-0"><%= event.name %></h5>
        </div>
        <hr />
        <!-- Event details  -->
        <div class="card-content">
          <p class="card-text my-1">
            Start Date & Time: <%= event.start_time %> <%=
            event.start_date.toLocaleDateString('el-GR') %>
          </p>
          <p class="card-text my-1">
            End Date & Time: <%= event.start_time %> <%=
            event.end_date.toLocaleDateString('el-GR') %>
          </p>
          <p class="card-text my-1">Location: <%= event.event_location %></p>
          <p class="card-text my-1">Link: <%= event.event_link %></p>

          <hr />
          <p class="card-text my-1">Description: <%= event.description %></p>
          <hr />

          <!-- Only event owner can edit or delete event  -->
          <% if(currentUser.id === event.owner_id) { %>
          <div class="d-flex flex-row justify-content-center">
            <form
              action="/event/<%= event.id %>/edit"
              class="border-0 py-0 my-0"
            >
              <input type="submit" value="Edit" class="btn btn-warning mx-5" />
            </form>
            <form
              action="/event/<%= event.id %>?_method=DELETE"
              method="POST"
              class="border-0 py-0 my-0"
            >
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          </div>
          <% } else { %>
          <!-- users can choose to join or ignore  -->
          <div class="d-flex flex-row">
            <form
              action="/event/<%= event.id %>/join"
              method="POST"
              class="border-0 py-0 my-0"
            >
              <button
                type="submit"
                name="isJoin"
                value="1"
                class="btn btn-success mx-5"
              >
                Join
              </button>
              <button
                type="submit"
                name="isJoin"
                value="0"
                class="btn btn-warning mx-5"
              >
                Pass
              </button>
            </form>
          </div>
          <% } %>
          <hr />
          <!-- Comments and Likes Button  -->
          <div class="container-fluid d-flex flex-row justify-content-around">
            <!-- Button trigger modal to add comment-->
            <button
              type="button"
              class="btn border-0 py-0 my-0 px-0"
              id="commentBtn"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              <i class="fa-solid fa-comment"></i>Comment
            </button>

            <form
              action="/event/<%= event.id %>/likes"
              method="POST"
              class="border-0 py-0 my-0"
            >
              <button class="btn border-0 like" id="likeBtn">
                <%= likes.length %> Like <i class="fa-solid fa-thumbs-up"></i>
              </button>
            </form>
          </div>
          <hr />
          <!-- comments  -->
          <div>
            <p><%= comments.length %> Comments:</p>
            <% comments.forEach(c => { %>
            <span><%= c.first_name %>: <%= c.comment %></span>
            <br />
            <span><%= c.created_at %></span>
            <hr />
            <% }) %>
            <form
              action="/event/<%= event.id %>/comments"
              method="POST"
              class="border-0 py-0 my-0"
            >
              <textarea
                name="comment"
                id="comment"
                class="form-control"
              ></textarea>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <hr />
          <!-- Modal  -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Modal title
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Understood
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal  -->
          <!-- Likes  -->
          <div>
            <p>Likes</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Event owner  -->
    <div class="card card text-body my-1 bg-light bg-gradient">
      <div class="card-body overflow-auto">
        <p class="card-text my-1">
          Hosting:
          <br />
          <img
            src="/<%= owner.avatar %>"
            alt=""
            style="width: 50px; height: auto; border-radius: 25px"
          />
        </p>
        <hr />
        <!-- Who will join the event  -->
        <p>Joining:</p>
        <% user_avatars.forEach(user_avatar => { %>
        <img
          src="/<%= user_avatar.avatar %>"
          alt=""
          style="width: 50px; height: auto; border-radius: 25px"
        />
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>
</div>
