<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div
  class="container-fluid d-flex col-md-8 col-lg-3 pt-md-5 flex-column overflow-auto h-100 justify-content-start my-5 pb-4"
>
  <!-- Past Events  -->
  <% incomingEvents.forEach(event => { %>
  <div class="card d-flex flex-row">
    <div
      class="d-flex justify-content-center align-items-center overflow-auto my-1 py-1 owner_avatarDiv"
      style="width: 77px; height: 77px; border-radius: 15px 0 0 15px"
    >
      <a href="/user/<%= event.owner_id %>" class="">
        <img
          src="/<%= event.avatar %>"
          alt=""
          style="width: 50px; height: auto; border-radius: 25px"
        />
      </a>
    </div>
    <div
      class="d-flex flex-column flex-grow-1 overflow-auto text-body my-1 py-1 bg-info"
      style="height: 77px; padding-left: 0.5rem; border-radius: 0 15px 15px 0"
      onclick="location.href='/event/<%=event.id%>';"
    >
      <h5 class="card-title my-1 lh-1"><%= event.name %></h5>
      <p class="card-text my-1 lh-1">
        <i class="bi bi-calendar-heart"></i>
        <%= moment(event.start_time, "HH:mm:ss").format(timeFormat) %>, <%=
        moment(event.start_date).format(dateFormat) %>
      </p>
      <p class="card-text my-1 lh-1">
        <i class="bi bi-geo-alt"></i>
        <%= event.event_location %>
      </p>
    </div>
  </div>
  <% }) %>
</div>

<%- include('./partials/footer') %>
