<%- include('./partials/header') %>

<div
  class="container-fluid justify-content-center d-flex flex-column align-items-center bd-highlight"
>
  <h4 class="mb-4">New Event</h4>
  <form action="/newEvent" method="POST">
    <!-- Event Name  -->
    <div class="mb-3">
      <input
        type="text"
        name="event_name"
        id="event_name"
        placeholder="Event Name *"
        class="form-control"
      />
    </div>
    <!-- Start Date & Time  -->
    <div class="mb-3">
      <label for="start_date&time">Start Date and Time *</label>
      <div>
        <input
          type="date"
          name="start_date"
          id="start_date"
          placeholder="Start Date"
        />
        <input
          type="time"
          name="start_time"
          id="start_time"
          placeholder="Start Time"
          
        />
      </div>
    </div>
    <!-- End Date & Time  -->
    <div class="mb-3">
      <label for="end_date&time">End Date and Time</label>
      <div>
        <input type="date" name="end_date" id="end_date" placeholder="End Date"/>
        <input type="time" name="end_time" id="end_time" placeholder="End Time"/>
      </div>
    </div>
    <!-- Event types  -->
    <div class="mb-3">
      <div class="container-fluid d-flex flex-row justify-content-evenly align-items-center">
        <% type1s.forEach((type1) => { %>
          <div class="eventType">
            <input type="radio" class="event_type1s" name="event_type1s" value="<%= type1.id %>" onclick="toggle_location()">
            <label for="event_type2s"><%= type1.name %></label>
          </div>
        <% }) %>
      </div> 
      <div class="container-fluid d-flex flex-row justify-content-evenly align-items-center">
        <% type2s.forEach((type2) => { %>
          <div class="eventType">
            <input type="radio" class="event_type2s" name="event_type2s" value="<%= type2.id %>">
            <label for="event_type1s"><%= type2.name %></label>
          </div>
        <% }) %>
      </div>
    </div>
    <!-- External Event Link  -->
    <div class="mb-3">
      <input type="url" name="event_link" id="event_link"
       placeholder="External Event Link: https://example.com"
       pattern="https://.*" size="30"
       class="form-control">
    </div>
    <!-- Location  -->
    <div class="mb-3" id="location">
      <input type="text" name="event_location" id="searchInput" class="form-control"/>
      <input id="address" name="address" value="" type="hidden" placeholder="" class="form-control"/>
    </div>
    <!-- Description  -->
    <div class="mb-3">
      <textarea
        class="form-control"
        id="description"
        placeholder="description"
        name="description"
        style="height: 100px;"
      >Description
      </textarea>
    </div>
    <div class="mb-3 d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8S8x0yhOf9F_j12maO92LCZqq6MgxTs4&libraries=places&callback=initMap"
></script>

<script>
  // Autocomplete location
  function initMap() {
    var input = document.getElementById("searchInput");
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener("place_changed", function () {
      var place = autocomplete.getPlace();
      document.getElementById("address").value = JSON.stringify(
        place.address_components
      );
    });
  }

  // Input start Date, set today as default date
  const inputStartDate = document.getElementById("start_date");
  inputStartDate.min = new Date().toISOString().split("T")[0];
  inputStartDate.valueAsDate =  new Date();
  const inputEndDate = document.getElementById("end_date");
  inputEndDate.valueAsDate = new Date();

  // Show/Hide location div
  const locationDiv = document.getElementById('location');
  const event_type1s = document.querySelectorAll(".event_type1s");
  event_type1s[0].checked = "true";
  const event_type2s = document.querySelectorAll(".event_type2s");
  event_type2s[0].checked = "true";
  const toggle_location = () => {
      if(event_type1s[1].checked){
        locationDiv.style.display = "none";
      } else {
        locationDiv.style.display = "block";
      }
  }
</script>
  </body>
</html>
