<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div
  class="container-fluid d-flex col-md-8 col-lg-3 pt-md-5 flex-column overflow-auto h-100 justify-content-start my-5 pb-4"
>
  <div class="card">
    <div class="card-body overflow-auto text-body py-1 bg-light bg-gradient">
      <h5 class="text-center mt-2 mb-0">Search Results</h5>
      <hr />
      <div
        class="d-flex flex-row justify-content-between align-items-center mb-2"
      >
        <% if(users === "0") { %>
        <div class="text-center w-100">
          <h6>No user info found!</h6>
        </div>
        <% } else { %> <% users.forEach(user => { %>
        <a href="/user/<%= user.id %>">
          <img
            src="/<%= user.avatar %>"
            alt=""
            style="width: 50px; height: auto; border-radius: 25px"
          />
        </a>
        <%= user.first_name %> <%= user.last_name %> <% }) %> <% } %>
        <hr />
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
